.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
shinyrPkgs.Rcheck/
shinyrPkgs*.tar.gz
shinyrPkgs*.tgz
_stash*.R
# {shinytest2}: Ignore new debug snapshots for `$expect_values()`
*_.new.png
^\rsconnect$
