.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
sap.Rcheck/
sap*.tar.gz
sap*.tgz
rsconnect/

/.quarto/
inst/doc
# {shinytest2}: Ignore new debug snapshots for `$expect_values()`
*_.new.png
docs
.Rprofile
