.body-content {
    background-color: #89D6FB;
    color: #772953;
}
.custom-header {
    background-color: #0066cc;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
.custom-sidebar {
    background-color: #004c99;
    color: #ffffff;
    padding: 10px;
}